html{
  height:100%
}
/* Arrière plan */
body
{
  background-image: url(../Medias/crayon-background.jpg);
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  padding-bottom: 100px;
  -moz-box-sizing: border-box; box-sizing: border-box;
  z-index: -4;
}
/* Scroll Bar */
::-webkit-scrollbar{
  width: 6px;
  display: none;
  }
  ::-webkit-scrollbar-thumb{
  background: linear-gradient(40deg, #FF8A8A 20%,#F771D1 40%,#A18AFF 60%,#4CD2FF 80%,#6AFC82 100%);
  border-radius: 3px;
  }
  ::-webkit-scrollbar-thumb:hover{
  background: linear-gradient(40deg, #FF5757 20%,#FF61D0 40%,#9278FA 60%,#24C5FF 80%,#43F761 100%);
  }
  ::-webkit-scrollbar-track{
  background: #FFFFFF;
  border-radius: 0px;
  box-shadow: inset 0px 0px 0px 0px #F0F0F0;
  }
  /* Scroll bar smooth */
  html
  {
    scroll-behavior: smooth;
  }
/* Header */
.navbar-global {
  background-color: rgb(255, 255, 255);
  position: fixed;
  z-index: -1;
}

.navbar-global .navbar-title {
  color: rgb(0, 0, 0);
  font-family: 'Oswald', sans-serif;
  font-family: 'Reenie Beanie', cursive;
  font-size: 50px;
  margin-left: 20px;
}
a, a:hover
{
  color: #000000;
  text-decoration: none;
}
/* Bienvenue */
.slogan
{
  font-family: 'Reem Kufi', sans-serif;
  font-size: 17px;
  margin-left: 50px;
}
/* Accueil */
.home
{
  font-family: 'Reem Kufi', sans-serif;
  font-size: 17px;
  margin-left: 75px;
  color: white;
  border-radius: 5px;
  border: 1px solid black;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 30px;
  padding-left: 30px;
  background: linear-gradient(45deg,#00b09b, #96c93d);
    background-size: 600% 100%;
    animation: gradient 5s linear infinite;
    animation-direction: alternate;
}
@keyframes gradient {
    0% {background-position: 0%}
    100% {background-position: 100%}
}
.citation
{
  font-family: 'Reem Kufi', sans-serif;
  font-size: 17px;
  margin-left: 60px;
}
.author
{
  font-family: 'Reem Kufi', sans-serif;
  font-size: 12px;
}
/* Follow */
.follow
{
  font-family: 'Reem Kufi', sans-serif;
  text-align: center;
  margin: 15px ;
  color: black;
}
.fa {
  padding: 7px;
  font-size: 14px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  border: 1px solid black;
}
.fa-instagram:hover {
  background: #125688;
  color: white;
}
.fa-pinterest:hover
{
  background: #cb2027;
  color: white;
}
/* Menu */
.navbar-global .navbar-user > li > a
{
  color: rgb(0, 0, 0);
}
.navbar-primary {
  font-family: 'Reem Kufi', sans-serif;
  background-color: rgb(255, 255, 255);
  bottom: 0px;
  left: 0px;
  position: fixed;
  top: 81px;
  width: 180px;
  overflow: hidden;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  border-width: 0px 1px 1px 0px;
  border-style: dashed solid solid solid;
  border-color: rgb(0, 0, 0) rgb(0, 0, 0) rgb(0, 0, 0) rgb(0, 0, 0);
  font-size: 12px;
}
/* Logo */
.logo
{
    width: 120px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}
/* Menu */
.navbar-primary.collapsed {
  width: 50px;
}

.navbar-primary.collapsed .glyphicon {
  font-size: 22px;
}

.navbar-primary.collapsed .nav-label {
  display: none;
}

.btn-expand-collapse {
    position: absolute;
    display: block;
    left: 0px;
    bottom:0;
    width: 100%;
    padding: 8px 0;
    border-top:solid 1px rgb(0, 0, 0);
    color: rgb(0, 0, 0);
    font-size: 20px;
    text-align: center;
}

.btn-expand-collapse:hover,
.btn-expand-collapse:focus {
    background-color: rgb(255, 255, 255);
    color: #96c93d;
}

.btn-expand-collapse:active {
    background-color: rgb(255, 255, 255);
}

.navbar-primary-menu,
.navbar-primary-menu li {
  margin:0; padding:0;
  list-style: none;
}

.navbar-primary-menu li a {
  display: block;
  padding: 25px 18px;
  text-align: left;
  border-bottom:solid 1px rgb(0, 0, 0);
  color: rgb(0, 0, 0);
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.navbar-primary-menu li a:hover {
  background-color: #000;
  text-decoration: none;
  color: white;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.navbar-primary-menu li a .glyphicon {
  margin-right: 6px;
}

.navbar-primary-menu li a:hover .glyphicon {
  color: #96c93d;
}
/* Contenu */
.main-content {
  margin-top: 120px;
  margin-left: 180px;
  position: relative;
  z-index: -3;
}
/* Aide et poster un message */
.aide
{
  font-family: 'Reem Kufi', sans-serif;
  position: absolute;
  z-index: -1;
  top: 8%;
  left: 8%;
  background-color: white;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 10px;
  padding-right: 20px;
  padding-left: 20px;
}
.journal
{
  position: absolute;
  z-index: -1;
  margin-top: 10%;
  left: 43%;
  border-radius: 5px;
  width: 150px;
  height: 150px;
}
.calendrier
{
  position: absolute;
  z-index: -1;
  margin-top: 30%;
  left: 43%;
  border-radius: 5px;
  width: 150px;
  height: 150px;
}
/* Formulaire */
.champ
{
  margin-bottom: 10px;
  text-align: center;
}
.prenom
{
  font-family: 'Reem Kufi', sans-serif;
  background-color: rgb(230, 230, 230);
  border-radius: 5px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 10px;
  padding-right: auto;
}
.nom
{
  font-family: 'Reem Kufi', sans-serif;
  background-color: rgb(230, 230, 230);
  border-radius: 5px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 10px;
}
.mail
{
  font-family: 'Reem Kufi', sans-serif;
  background-color: rgb(230, 230, 230);
  border-radius: 5px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 10px;
}
.sujet
{
  font-family: 'Reem Kufi', sans-serif;
  background-color: rgb(230, 230, 230);
  border-radius: 5px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 10px;
}
.message
{
  font-family: 'Reem Kufi', sans-serif;
  background-color: rgb(230, 230, 230);
  border-radius: 5px;
  padding-bottom: 80px;
  padding-top: 8px;
  padding-left: 15px;
}
::placeholder
{
  color: black;
}
.send
{
  font-family: 'Reem Kufi', sans-serif;
  background-color: black;
  color: white;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
}
/* Contact */
.contact
{
  font-family: 'Reem Kufi', sans-serif;
  position: absolute;
  z-index: -1;
  top: 8%;
  left: 61%;
  background-color: white;
  text-align: center;
  padding-top: 20px;
  padding-right: 30px;
  padding-left: 30px;
}
.email, .siteweb
{
  background-color: rgb(230, 230, 230);
  border-radius: 5px;
  padding: 10px;
  margin-top: 15px;
  text-align: center;
}
.collapsed + .main-content {
  margin-left: 60px;
}
/* Actualités */
.holder { 
  background-color: rgb(230, 230, 230);
  border-radius: 5px;
  width:300px;
  height:370px;
  overflow:hidden;
  padding:10px;
  margin-top: 26px;
  font-family:Helvetica;
  margin-bottom: 20px;
  border: 2px solid black;
}
.holder .mask {
  position: relative;
  left: 0px;
  top: 10px;
  width:300px;
  height:350px;
  overflow: hidden;
}
.holder ul {
  list-style:none;
  margin:0;
  padding:0;
  position: relative;
}
.holder ul li {
  padding:10px 10px 0px 0px;
}
.holder ul li a {
  color:rgb(0, 0, 0);
  text-decoration:none;
}
/* Bouton Calendrier */
.calendar {
  font-family: "Reem Kufi", sans-serif;
  background-color: black;
  color: white;
  padding-left: 55px;
  padding-right: 55px;
  border-radius: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 50px;
}
.aCalendar,
.aCalendar:hover {
  color: #ffffff;
  text-decoration: none;
}
/* Bas de page */
footer{
  bottom: 0;
  left: 0;
  right: 0;
  top: 120%;
  position: absolute;
  z-index: -5;
}
.backgroundFooter
{
  background-color: rgb(0, 0, 0);
  border-width: 1px 0px 0px 0px;
  border-style: solid;
  border-color: black;
  padding-top: 10px;
  padding-bottom: 10px;
}
.copyright, .conditions, .mentionsLégales, .version, .cookies, .donnéesPerso
{
  margin: 20px;
  color: white;
}
/* Connexion + Déconnexion*/
form i {
  margin-left: -30px;
  cursor: pointer;
}
.popup-container {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 12vh;
}
.popup-container .buttonC {
  height: 40px;
  line-height: 40px;
  background: #000000;
  padding: 0 40px;
  border-radius: 25px;
  font-size: 14px;
  font-weight: 500;
  color: #fff;
  cursor: pointer;
}
.buttonD {
  height: 40px;
  line-height: 40px;
  background: #000000;
  padding: 0 40px;
  border-radius: 25px;
  font-size: 14px;
  font-weight: 500;
  color: #fff;
  cursor: pointer;
}
.textbuttonD{
  color: white
}
.buttonC:hover
{
  background: #39fad7;
  background: linear-gradient(to right, #44ea76, #39fad7);
  color: white;
}
.buttonD:hover
{
  background: #e52d27;
  background: linear-gradient(to right, #b31217, #e52d27);
  color: rgb(255, 255, 255);
}
.popup-container .popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.884);
  z-index: 10;
  opacity: 0;
  visibility: hidden;
  transition: 400ms all;
}
.popup-container .popup > label {
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.popup-container .popup .inner {
  position: absolute;
  z-index: 10;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgb(255, 255, 255);
  min-width: 300px;
  box-sizing: border-box;
  transition: 400ms all;
  min-height: 300px;
  overflow: auto;
  border-radius: 10px;
}
.popup-container .popup .inner .title {
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
  position: sticky;
  top: 0;
  background: #fff;
}
.popup-container .popup .inner .title h6 {
  font-family: 'Reem Kufi', cursive;
  font-size: 15px;
  font-weight: 600;
  margin-left: 82px;
  padding-top: 20px;
}
.popup-container .popup .inner .title label {
  font-size: 14px;
  color: #999;
  cursor: pointer;
}
.popup-container .popup .inner .title label:hover {
  color: rgb(0, 0, 0);
}
.popup-container .popup .inner .content {
  padding: 5px 10px 10px;
}
.popup-container .popup .inner .content ul li input:focus {
  outline: 0;
  border-color: #272643;
}
.popup-container .popup .inner .content ul li button {
  width: 100%;
  height: 30px;
  border-radius: 25px;
  border: none;
  background: #272643;
  color: #ffffff;
  font-size: 13px;
  cursor: pointer;
}
.popup-container .popup .inner .content p {
  font-size: 13px;
  line-height: 130%;
  margin-bottom: 15px;
}
.popup-container .popup .inner .content p:last-child {
  margin-bottom: 0;
}
.popup-container .popup .inner .content .close-btn {
  margin-top: 15px;
  padding-top: 15px;
  border-top: 1px solid #ddd;
}
.popup-container .popup .inner .content .close-btn label {
  background: rgba(0, 0, 0, 0.05);
  display: block;
  line-height: 30px;
  text-align: center;
  font-size: 13px;
  color: #444;
  border-radius: 3px;
  cursor: pointer;
}
.popup-container .popup .inner .content .close-btn label:hover {
  background: rgba(0, 0, 0, 0.1);
}
.popup-container > input {
  position: absolute;
  left: -9999px;
  opacity: 0;
}
.popup-container > input:checked + .popup {
  opacity: 1;
  visibility: visible;
}
.popup-container > input:checked + .popup .inner {
  top: 50%;
}
/* Formulaire */
.champ
{
  margin-bottom: 15px;
  text-align: center;
}
.pseudo
{
  font-family: 'Reem Kufi', cursive;
  background-color: rgb(230, 230, 230);
  padding-right: 60px;
  border-radius: 5px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 10px;
}
.motdepasse
{
  font-family: 'Reem Kufi', cursive;
  background-color: rgb(230, 230, 230);
  border-radius: 5px;
  padding-bottom: 8px;
  padding-right: 60px;
  padding-top: 8px;
  padding-left: 10px;
  margin-left: -17px;
}
::placeholder
{
  color: black;
}
.send
{
  font-family: 'Reem Kufi', cursive;
  background-color: black;
  color: white;
  padding-left: 55px;
  padding-right: 55px;
  border-radius: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.forget, .account
{
  color: blue;
  text-align: center;
}
/* Popup déconnexion */
.areYouSure{
  font-family: "Reem Kufi", sans-serif;
  margin-top: 20px;
  text-align: center;
}
.yes{
  font-family: "Reem Kufi", sans-serif;
  background-color: rgb(0, 129, 6);
  color: white;
  padding-left: 25px;
  padding-right: 25px;
  border-radius: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 20px;
  margin-left: 75px;
}
.no{
  font-family: "Reem Kufi", sans-serif;
  background-color: rgb(160, 1, 1);
  color: white;
  padding-left: 25px;
  padding-right: 25px;
  border-radius: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 20px;
}
.logoGoodBye{
  width: 120px;
  margin-top: 30px;
  margin-left: 90px;
}
.aYes, .aNo, .aYes:hover, .aNo:hover {
  text-decoration: none;
  color: white;
}
/* Bouton Profil */
.imageProfil{
  width: 50px;
  height: 50px;
}
.principal_petit
{
  display: block;
  margin-left: 65px;
  margin-right: auto;
  margin-top: 5px;
  width: 50px;
  height: 50px;
  background-color: #000000;
  border-radius: 50px;
  -webkit-transition:all 0.2s ease-in;
  -moz-transition:all 0.2s ease-in;
  -ms-transition:all 0.2s ease-in;
  -o-transition:all 0.2s ease-in;
  transition:all 0.2s ease-in;
}
.principal_petit:hover
{
  -webkit-transform: scale(1.1);
  -webkit-transition:all 0.2s ease-in;
  -moz-transform: scale(1.1);
  -moz-transition:all 0.2s ease-in;
  -ms-transform: scale(1.1);
  -ms-transition:all 0.2s ease-in;
  -o-transform: scale(1.1);
  -o-transition:all 0.2s ease-in;
  transform: scale(1.1);
  transition:all 0.2s ease-in;
}
.principal_img
{
  -webkit-transition:all 0.2s ease-in;
  -moz-transition:all 0.2s ease-in;
  -ms-transition:all 0.2s ease-in;
  -o-transition:all 0.2s ease-in;
  transition:all 0.2s ease-in;
}
.principal_img:hover
{
  -webkit-transform: scale(0.7);
  -webkit-transition:all 0.2s ease-in;
  -moz-transform: scale(0.7);
  -moz-transition:all 0.2s ease-in;
  -ms-transform: scale(0.7);
  -ms-transition:all 0.2s ease-in;
  -o-transform: scale(0.7);
  -o-transition:all 0.2s ease-in;
  transform: scale(0.7);
  transition:all 0.2s ease-in;
}
/* PARTIE FOOTER */
.cgu{
  background-color: white;
  font-size: 14px;
  margin-left: 10px;
}
.aCgu, .aDonneesPerso, .aMentionsLegales, .aCookies{
  text-decoration: none;
  color: white;
}
.aCgu:hover, .aDonneesPerso:hover, .aMentionsLegales:hover, .aCookies:hover{
  color: lightgreen
}