/*Mixin for the animation 
** Same animation, just different duration :)
*/
/*Variables */
h1 {
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  text-align: center;
}

.loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
}
.loader-wrapper .loader {
  display: block;
  position: relative;
  left: 50%;
  top: 50%;
  width: 100px;
  height: 100px;
  margin-top: -50px;
  margin-left: -50px;
  border: 3px solid transparent;
  border-top-color: rgb(71, 129, 255);
  border-radius: 50%;
  z-index: 1001;
  -webkit-animation: spin 1.5s infinite linear;
          animation: spin 1.5s infinite linear;
}
.loader-wrapper .loader:before, .loader-wrapper .loader:after {
  content: "";
  position: absolute;
  border-radius: 50%;
}
.loader-wrapper .loader:before {
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border: 3px solid transparent;
  border-top-color: rgb(239, 142, 252);
  -webkit-animation: spin 2s infinite linear;
          animation: spin 2s infinite linear;
}
.loader-wrapper .loader:after {
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  border: 3px solid transparent;
  border-top-color: rgb(252, 239, 127);
  -webkit-animation: spin 1s infinite linear;
          animation: spin 1s infinite linear;
}

@-webkit-keyframes spin {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
/*Section */
.loader-section {
  position: fixed;
  top: 0;
  width: 52%;
  height: 100%;
  background: rgb(0, 0, 0);
  z-index: 1000;
}
.loader-section.section-left {
  left: 0;
}
.loader-section.section-right {
  right: 0;
}

/*Finished Loading Styles*/
.loaded .section-left {
  transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  transform: translateX(-100%);
}
.loaded .section-right {
  transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  transform: translateX(100%);
}
.loaded .loader {
  transition: all 0.3s ease-out;
  opacity: 0;
}
.loaded .loader-wrapper {
  visibility: hidden;
  transform: translateY(-100%);
  transition: all 0.3s 1s ease-out;
}

/*Content*/
.content {
  margin: 0 auto;
  padding-bottom: 50px;
  width: 80%;
  max-width: 978px;
}